/*
* {
  font-style: normal;
  list-style: none;
  text-decoration: none;
}
*/

:root {
  --logo-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
  --brand-color: #2196f3;
  --main-color: #212121;
  --main-gray-color: #757575;
  --background-dark-color: #2f303a;
  --background-gray-color: #f5f4fa;
  --white-color: #ffffff;
  --black-color: #000000;
  --card-border-color: #eeeeee;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--white-color);
  color: var(--main-color);
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-color);
  text-decoration: none;
}

.logo-studio-white {
  color: var(--white-color);
}
.logo-studio-black {
  color: var(--black-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.navigation,
.contacts-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  list-style: none;
}
.navigation .link {
  text-decoration: none;
  color: var(--main-color);
}
.navigation .link:focus,
.navigation .link:hover {
  color: var(--brand-color);
  outline-color: var(--brand-color);
}
.navigation .current {
  color: var(--brand-color);
}

.contacts-header .contact {
  text-decoration: none;
  color: var(--main-gray-color);
}
.contacts-header .contact:hover,
.contacts-header .contact:focus {
  color: var(--brand-color);
}

.hero {
  background-color: var(--background-dark-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
  width: 696px;
  height: 120px;
}
.req-service {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  border-style: hidden;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--brand-color);
}

.about-us-list > li {
  width: 270px;
  height: 101px;
  list-style: none;
}
.about-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
.about-us-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  width: 270px;
  height: 75px;
  color: var(--main-gray-color);
}

.secondary-list {
  list-style: none;
}

.team-member {
  background-color: var(--background-gray-color);
}
.team-list > li {
  box-sizing: content-box;
  width: 270px;
  height: 368px;
  background: var(--white-color);
  list-style: none;
}
.team-member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.sub-title {
  color: var(--main-gray-color);
  text-align: center;
}

.submenu-buttons {
  list-style: none;
}
.submenu-buttons button {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(--background-gray-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  border-style: hidden;
  border-radius: 4px;
  cursor: pointer;
}
.submenu-buttons button:hover,
.submenu-buttons button:focus,
.submenu-buttons button:active {
  color: var(--white-color);
  background-color: var(--brand-color);
}

.submenu-images > li {
  width: 370px;
  height: 404px;
  background: var(--white-color);
  border: 1px solid var(--card-border-color);
  box-sizing: border-box;
  list-style: none;
}
.submenu-images .link {
  text-decoration: none;
  color: var(--main-color);
}
.submenu-text {
  color: var(--main-gray-color);
}

.contacts {
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--background-dark-color);
}
.contacts-footer address {
  font-style: normal;
}
.contacts-footer {
  list-style: none;
}
.contacts-footer .contact {
  text-decoration: none;
  color: var(--footer-contacts-color);
}
.contacts-footer .contact:hover,
.contacts-footer .contact:focus {
  color: var(--brand-color);
}
